/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #000000;
    text-decoration: none;
    background-color: rgba(255,255,193,100);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #ffc107;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: .25rem;
}

.search-background {
    background: url('../images/MainBackground.webp');
}


.backgroundWhite {
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #ffc107 0%, #f6fc9c 74%);
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: none;
}

.backgroundWhiteBorder {
    background: white;
    padding: 30px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.backgroundWhiteBorder10Padding {
    background: white;
    padding: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

#SubCategoryList li {
    background: transparent;
}

.menu-filter-list li {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px 10px;
    text-transform: uppercase;
    background: #f5f5f5;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Poppins",sans-serif;
}

.menu-filter-list li.is-checke, .menu-filter-list li:hover {
    background-color: #545b62;
    color: #fff;
}